<fieldset class="form-group">
  <label for="title">Edit Post Title</label>
  <input type="text" class="edit-form-title" id="title" placeholder="Edit Title">
</fieldset>
<fieldset class="form-group">
  <label for="body">Edit Post Body</label>
  <textarea id="body" class="edit-form-body" name="body" rows="12" placeholder="Edit Blog Post"></textarea>
</fieldset>
<input class="btn btn-success" type="submit" name="name" value="Save">
