<fieldset class="form-group">
  <label for="title">Post Title</label>
  <input type="text" class="form-title" id="title" placeholder="Post Title">
</fieldset>
<fieldset class="form-group">
  <label for="body">Post Body</label>
  <textarea id="body" class="form-body" name="body" rows="12" placeholder="Input Blog Post"></textarea>
</fieldset>
<input class="btn btn-success" type="submit" name="name" value="Submit">
