<div class="view-title">{{title}}</div>
<div class="view-body">{{body}}</div>

<button class="btn delete-button btn-danger" type="button" name="button">Delete</button>
<button class="btn edit-button btn-warning" type="button" name="button">Edit</button>
