<h2>New Contact</h2>
<div class="form-group">
  <label class="form-label" for="first-name">First Name</label>
  <input class="form-input" id="first-name" type="text" name="first-name" value="" placeholder="Enter Your First Name">
</div>
<div class="form-group">
  <label class="form-label" for="last-name">Last Name</label>
  <input class="form-input" id="last-name" type="text" name="last-name" value="" placeholder="Enter Your Last Name">
</div>
<div class="form-group">
  <label class="form-label" for="street-address">Street Address</label>
  <input class="form-input" id="street-address" type="text" name="street-address" value="" placeholder="Enter Your Street Address">
</div>
<div class="form-group">
  <label class="form-label" for="city-state-zip">City, State, Zip</label>
  <input class="form-input" id="city-state-zip" type="text" name="name" value="" placeholder="Enter Your City, State and Zip">
</div>
<div class="form-group">
  <label class="form-label" for="phone-number">Phone Number</label>
  <input class="form-input" id="phone-number" type="tel" name="phone-number" value="" placeholder="Enter Your Phone Number">
</div>
<button class="btn" type="submit" name="button">Add</button>
